html {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, #74ebd5, #acb6e5);
    height: 100vh;
}

.calculator {
    position: relative;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);

    &__display {
        width: 260px;
        padding: 26px 18px;
        background-color: #1f2933;
        color: #f5f7fa;
        font-size: 26px;
        text-align: right;
        // overflow: hidden;
        border: none;
    }

    &__buttons {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(4, auto);
        background-color: #cbd2d9;
        grid-template-areas:
            ". . . ."
            "seven eight nine modulus"
            "four five six equal"
            "one two three equal"
            "zero decimal clear equal";

        .calculator__button {
            position: relative;
            font-size: 22px;
            width: 72px;
            min-height: 80px;
            border: 0;
            background: #f5f7fa;
        }

        .zero {
            grid-area: zero;
        }

        .one {
            grid-area: one;
        }
        .two {
            grid-area: two;
        }
        .three {
            grid-area: three;
        }
        .four {
            grid-area: four;
        }
        .five {
            grid-area: five;
        }
        .six {
            grid-area: six;
        }
        .seven {
            grid-area: seven;
        }
        .eight {
            grid-area: eight;
        }

        .nine {
            grid-area: nine;
        }

        .decimal {
            grid-area: decimal;
        }

        .clear {
            grid-area: clear;
        }
        .equal {
            grid-area: equal;
            background-color: #f35627;
        }
    }
}
